@import '../common/styles/colors.scss';

:host {
  padding: 20px;
  width: 100%;
  background-color: $main-light-blue;
  display: flex;
  flex-wrap: wrap;
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  cdk-virtual-scroll-viewport {
    height: 100%;
  }
  h1 {
    color: #000;
  }
}
