@import '../common/styles/colors.scss';

:host {
  width: 100%;
  background-color: $main-light-blue;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  cdk-virtual-scroll-viewport {
    height: 100%;
  }
  h1 {
    color: #000;
  }
}

@media only screen and (min-width: 768px) {
  :host {
    margin-top: 0;
  }
}
