@import '../common/styles/colors.scss';

aside {
  header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: $main-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #fff;
    }
  }
  display: block;
  .sidebar-header {
    padding: 10px 0;
  }
  .sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: visible;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: $main-gray;
    padding: 30px;
    &.active {
      left: 0;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    &.active {
      display: block;
      opacity: 1;
    }
  }
  .hamburger-box {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 30px;
    z-index: 500;
    .hamburger-inner {
      display: block;
      position: absolute;
      width: 40px;
      height: 4px;
      right: 10px;
      top: 10px;
      background-color: #000;
      &:before,
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 40px;
        height: 4px;
        background-color: #000;
      }
      &:before {
        top: -10px;
      }
      &:after {
        top: 10px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .dismiss {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #383d41;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #fff;
      color: #383d41;
    }
  }
}

@media only screen and (min-width: 768px) {
  aside {
    .sidebar {
      left: 0;
    }
    header,
    .dismiss {
      display: none;
    }
    .overlay {
      &.active {
        display: none;
        opacity: 0;
      }
    }
  }
  header {
    span {
      margin-left: 250px;
    }
  }
}

input,
button {
  width: 100%;
  -webkit-appearance: none;
  background-color: #475057;
  border: 1px solid #808080;
  border-radius: 15px;
  padding: 5px 10px;
  color: #9c9c9c;
}

hr {
  width: 100%;
  margin: 30px 0;
}
ul {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
  color: #c7cad0;
  &:before {
    content: '\25EF';
    display: block;
    position: absolute;
  }
  span {
    margin-left: 35px;
    text-align: left;
  }
  a {
    color: #fff;
    padding: 10px 25px;
    font-size: 1.1em;
    display: block;
  }
}

.delete {
  text-decoration: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-color: #f9ad91;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  min-width: 20px;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
h2 {
  width: 100%;
  color: #fff;
}
.add-container {
  width: 100%;
  color: #fff;
  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    margin-bottom: 10px;
  }
}
.add-feed {
  background-color: #59abe5;
  color: #fff;
  cursor: pointer;
}

//toast message
.toast {
  visibility: hidden;
  position: fixed;
  z-index: 1001;
  top: 30px;
  right: 30px;
  min-width: 250px;
  background-color: #f89406;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  animation: fadeout 0.5s;
  &.show {
    visibility: visible;
    animation: fadein 0.5s;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
