<aside>
  CONTENT GENERATOR
  <input type="search"
         placeholder="Filter your feeds"
         aria-label="Search feeds" />
  <hr>
  <div>
    <input #feedName
           value="Testni Adweek"
           placeholder="Type your feed name..." />
    <input #feedUrl
           value="https://www.adweek.com/feed/"
           placeholder="Copy your RSS url..." />
  </div>
  <button (click)="add(feedName.value, feedUrl.value);">
    Add feed
  </button>

  <div>
    <input #feedName2
           value="The Guardian"
           placeholder="Type your feed name..." />
    <input #feedUrl2
           value="https://www.theguardian.com/technology/internet/rss"
           placeholder="Copy your RSS url..." />
  </div>
  <button (click)="add(feedName2.value, feedUrl2.value);">
    Add Guardian
  </button>

  <ul class="active-feeds">
    <li *ngFor="let feed of activeFeeds">
      <span class="badge">{{feed.feed?.title}}</span>
      <button class="delete"
              title="delete feed"
              (click)="delete(feed)">x</button>
    </li>
  </ul>
</aside>