/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
